body {
  background: linear-gradient(to left, #dfe9f3 0%, white 100%);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Pacifico", cursive;
  font-size: 50px;
  line-height: 65px;
}

footer {
    text-align: center;
}

ul {
    list-style: none;
}

img {
    position: relative;
    top: 12px;
}

h5 {
    margin-top: 15px;
}

.header {
  border: solid gray;
}

.city-search {
  margin-left: 60px;
  margin-top: 20px;
}

.todays-weather {
  margin: 0 auto;
  padding: 15px;
  border-radius: 25px;
  max-width: 600px;
  display: block;
  position: center;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.weeks-weather {
  margin: 30px;
}

.city {
  font-size: 30px;
}

.temperature {
    font-size: 60px;
}

.units {
    position: relative;
    bottom: 28px;
}

